 <section class="hero">
  <div class="container">
    <h1 class="title has-text-centered">
      Calorie Counter
    </h1>
    <p class="subtitle has-text-centered">
      Count your Calories
    </p>
  </div>
</section>
